<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PHCEntities" connectionString="metadata=res://*/Data.PHC.csdl|res://*/Data.PHC.ssdl|res://*/Data.PHC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.57.219.8,4120;initial catalog=687803_pethealthclub;user id=687803_phc;password=PHC373@n;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>