<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    
    <connectionStrings>
        <add name="PHCEntities" connectionString="metadata=res://*/Data.PHC.csdl|res://*/Data.PHC.ssdl|res://*/Data.PHC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.57.219.8,4120;initial catalog=687803_pethealthclub;user id=687803_phc;password=PHC373@n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        
        <!-- Local & Staging flags -->
        <add key="IsLocal" value="true" />
        <add key="IsStaging" value="true" />
        
        <!-- production -->
        <add key="FBAPIKey" value="260145484103446" />
        <add key="FBSecretKey" value="70dfabd5fdf0ec081700580431e51930" />
        <add key="FBAppUrl" value="https://apps.facebook.com/pethealthclub" />
        <add key="SiteUrl" value="https://pethealthclub.vm-fb.com" />
        
        <!-- staging -->
        <add key="FBAPIKey_Staging" value="159896624134625" />
        <add key="FBSecretKey_Staging" value="d3b55e2eac367c51a56211b8c22a4d56" />
        <add key="FBAppUrl_Staging" value="http://apps.facebook.com/pethealthclub-stage" />
        <add key="SiteUrl_Staging" value="http://www.vayner-pethealthclub.com.asp1-23.ord1-1.websitetestlink.com" />
        
        <!-- local -->
        <add key="FBAPIKey_Local" value="110901372396602" />
        <add key="FBSecretKey_Local" value="b0e9502d65f6438842f452d8e3d0c100" />
        <add key="FBAppUrl_Local" value="http://apps.facebook.com/pethealthclub-local" />
        <add key="SiteUrl_Local" value="http://localhost:1829" />
        
        <!-- Twitter -->
        <add key="ConsumerKey" value="mAmJIAOkKPrMe8ojh6bS1g" />
        <add key="ConsumerSecret" value="BEsFtbaliEQcHbot01XL1PBaXaGdlQLXVvYz06Tu7E" />
        <add key="Twitterizer2.EnableStatisticsCollection" value="false" />
        
        <!-- ICGroup -->
        <add key="ICGEndpoint" value="http://pethealth.icgrouplp.com/RegCrm.aspx"/>
        <add key="ICGEndpoint_Local" value="http://pethealthuat.icgrouplp.com/RegCrm.aspx"/>
        <add key="ICGEndpoint_Staging" value="http://pethealthuat.icgrouplp.com/RegCrm.aspx"/>
        
        <add key="ICGSharedKey_Local" value="XThECkZSrkOiClTW" />
        <add key="ICGSharedKey_Staging" value="XThECkZSrkOiClTW" />
        <add key="ICGSharedKey" value="WPiKnkyINtChRBIg" />
        
        <add key="ICGPrizeToken_ThreeDollarCoupon" value="CTYWLTCP" />
        <add key="ICGPrizeToken_DogTag" value="SXWLEADT" />
        <add key="ICGPrizeToken_TenDollarCoupon" value="GSLYKTCP" />
        <add key="ICGPrizeToken_GiftCard" value="JGJNNPGC" />
    </appSettings>


    <system.web>
        <httpRuntime maxRequestLength="32768" />
        <compilation targetFramework="4.0" debug="true" />
        <customErrors mode="Off" />
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" stateNetworkTimeout="20" />
        <pages controlRenderingCompatibilityVersion="4.0">
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Optimization" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.3.862" newVersion="2.6.3.862" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>