<div class="snow">
        <div class="top">
                <div id="header" class="clear">
                        <div class="round_zone">
                                <!-- spacer -->
                        </div>
                        <div class="logo">
                                6pm.com - Social White Elephant
                        </div>
                </div>
        </div>
        <div id="rooms_full">
                <div class="message">
                        <p>Stick around and watch the game for a chance to get a coupon for $10 off your order at 6pm.com.</p>

                        <a href="javascript:void(0)" class="rb_xl" id="watch_game">Watch the Game</a>
                        <a href="http://6pm.com" class="rb_lg" id="shop_6pm" target="_blank">Shop 6pm.com</a>
                </div>
        </div>
        <div class="hills">
                <div id="ornaments">Thank You</div>
        </div>
</div>