<div id="main">
  <div class="page">

    <div class="snow">
		<div class="top">
			<div id="header" class="clear">
				<div class="round_zone">
					<!-- spacer -->
				</div>
				<div class="logo">
					6pm.com - Social White Elephant
				</div>
			</div>
		</div>
		<div id="thankyou">
			<div class="message">
				You'll receive a confirmation email when your prize is on its way.  Don't forget to share your stylish gift, and shop 6pm.com for the rest of the items on your list!   
			</div>
			<div class="social clearfix">
				<div id="fb_share"></div>
				<a href="#" id="tw_share"></a>
				<a href="#" id="pin_share"></a>
			</div>
		</div>
		<div class="hills">
			<div id="ornaments">Thank You</div>
		</div>
   </div>
        
  </div>  
</div>