<div class="social_icons" style="margin: 0px auto; width: 180px" id="divsicon">

    <a class="fb" id="fblink"></a>
    <a class="tw" target="_blank" href="#"></a>
    <a id="PinItButton" href="#" class="pin-it-button pin"></a>

</div>