<div id="main" class="views hidden">
    <div id="header2">
        <div id="name">SocketChat</div>
    </div>

    <div id="left" class="column">
        <div id="content">
            <div id="messageContainer">
                    <div id="messages"></div>
            </div>
            <form id="sendMessage">
                <input id="newMessage" name="message" autocomplete="off" type="text">
                <input id="sendButton" value="Send" type="submit">
            </form>
            <div id="footer2"></div>
        </div>
    </div>
</div>


<form style="display: block;" return="" onsubmit:="" false="" id="signIn" class="views hidden"><h1>Please enter a username to begin:</h1><input type="text"></form>