

<div id="main">
  <div class="page">

  	<div class="snow">

		<div id="logo">
			6pm.com - Social White Elephant
		</div>
		<div id="pregame">
			<div class="message">
				<h2 class="open">The game is open!</h2>
				<p>
					Spots are very limited, so register now.<br/>
					<b>Click on the room you'd like to join.</b>
				</p>
			</div>
		</div>
		<div class="hills">
			<div id="room_select" class="clearfix">

				<!-- change urls? -->
                                <%=rooms_content%>
				
			</div>
		</div>
     </div>

    

  </div>  
</div>