<div id="main">
  <div class="page">



      <div class="snow">
		<div class="top">
	<div id="header" class="clear">
		<div class="round_zone">
			<div class="time">
				<span id="text_time"><%=text_time%></span>
				<span class="countdown" id="timergame">00:02:47</span>
			</div>
			<div class="rounds clearfix">
				<span>Round:</span> <span class="num" id="round"><%=round%></span> <span>of</span> <span class="num"><%=roundTotal%></span>
			</div>
		</div>
		<div class="logo">
			6pm.com - Social White Elephant
		</div>
		<div class="actions clearfix">
			<div class="act">
				<div class="act_lab"><b>Swaps</b> left this round:</div> <div class="num">-</div>
			</div>
			<div class="act clearfix">
				<div class="act_lab"><b>Blocks</b> left this game:</div> <div class="num">-</div>
			</div>
			<div id="share">Share</div>
		</div>
	</div>
</div>		<!--- spectator room bar -->
		<div id="roombar" class="clearfix">

                        <%=rooms_content%>
                        			
		</div>
		<div class="app_container">
			<div id="product_board">
                            <%=prizes_content%>  
			</div>
			<div id="live_feed">
	<ul id="feed">
		
	</ul>
</div>		</div>
		<div class="hills">
			<div id="rules">
	<h4>How to Play</h4>
	<ol>
		<li>There are three five-minute rounds.</li>
		<li>Want a different gift? <span>You get one swap per round.  Unused Swaps do not carry over.</span></li>
		<li>Want to keep your gift?  <span>You have one block to use anytime in the game.  Blocks will protect you from one swap attempt and expire at the end of the round, so block wisely!</span></li>
		<li>Blocked items will not be visible to other players as blocked.</li>
		<li>Want an extra swap? <span>Share the game with your friends on Facebook, and earn an extra swap to use in any round.</span></li>
		<li>You win whichever gif you have at the end of the game!*</li>
	<i>* Prizes will be fulfilled with a 6pm.com e-certificate.</i>
	</ol>
</div>		</div>
	</div>
	<div class="blackout">
		<div class="litebox" id="coupon_explain">
			<div class="inner">
				<h3>Get your coupon now!</h3>
				<p>The first [#] to reply will get a coupon for<br/>$10 off an order at 6pm.com</p>
				<div class="rb_sm" id="ok">Go</div>
			</div>
		</div>
                
		<div class="litebox" id="coupon_get">
			<div class="inner">
				<h3>Congratulations, you got it!</h3>
				<p>You're one savvy fan, must be all that shoppying you do with us!  Copy the code below to receive $10 off an order at 6pm.com through [mm/dd/yyy].</p>
				<p class="code">Code: XXXXXXXXXXX</p>
				<p class="happy">Happy Holidays!</p>
				<div class="rb_xl" id="watch_game">Watch the Game</div>
				<a href="http://6pm.com" target="_blank" class="rb_lg">Shop 6pm.com</a>
			</div>
		</div>

		<div class="litebox" id="coupon_fail">
			<div class="inner">
				<h3>Oh no, the coupons<br/>have been claimed!</h3>
				<p>Come back at 5:55pm tomorrow for another chance to play or score a coupon. In the meantime, you can keep watching today's game!</p>
				<div class="rb_lg" id="watch_game">Watch the Game</div>
				<a href="http://6pm.com" target="_blank" class="rb_lg">Shop 6pm.com</a>
			</div>
		</div>
		<div class="litebox" id="coupon_fail2">
			<div class="inner">
				<h3>We're sorry, the coupons have been claimed</h3>
				<p>But don't worry we're always thinking up fabulous new promotions for our fans.</p>
				<div class="rb_lg" id="watch_game">Watch the Game</div>
				<a href="http://6pm.com" target="_blank" class="rb_lg">Shop 6pm.com</a>
			</div>
		</div>
		<div class="litebox" id="round2_coupchance">
			<div class="inner">
				<h3>It's time for round two!</h3>
				<p>Keep watching for that $10 OFF Coupon.</p>
				<div class="rb_sm" id="ok">OK</div>
			</div>
		</div>
		<div class="litebox" id="round3_coupchance">
			<div class="inner">
				<h3>Round three has begun!</h3>
				<p>This is the final round!<br/>That $10 coupon is coming any second now.</p>
				<div class="rb_sm" id="ok">OK</div>
			</div>
		</div>
		<div class="litebox" id="game_over">
			<div class="inner">
				<h3>The game is over!</h3>
				<p>Thanks to everyone for playing.</p>
				<a href="http://6pm.com" target="_blank" class="rb_lg" id="watch_game">Shop 6pm.com</a>
			</div>
		</div>
		<div class="litebox" id="product_detail">
			<div class="inner">
				<div class="product_image"></div>
				<h3>Product Name</h3>
				<p>
					Product Description
				</p>
				<div class="rb_lg" id="return_to_game">Return to Game</div>
			</div>
		</div>
	</div>

       
         

  </div>  
</div>