<div id="main">
  <div class="page">



      <div class="snow">
	
		<div class="top">
	<div id="header" class="clear">
		<div class="round_zone">
			<div class="time">
				Time left in this round:
				<span class="countdown">00:02:47</span>
			</div>
			<div class="rounds clearfix">
				<span>Round:</span> <span class="num">2</span> <span>of</span> <span class="num">3</span>
			</div>
		</div>
		<div class="logo">
			6pm.com - Social White Elephant
		</div>
		<div class="actions clearfix">
			<div class="act">
				<div class="act_lab"><b>Swaps</b> left this round:</div> <div class="num">1</div>
			</div>
			<div class="act clearfix">
				<div class="act_lab"><b>Blocks</b> left this game:</div> <div class="num">1</div>
			</div>
			<div id="share">Share</div>
		</div>
	</div>
     </div>
    

     


<div class="app_container">
    <div id="product_board">
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 1" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 2" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 3" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" title="[username] has this product: [product name]"/>
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 4" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 5" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 6" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 7" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 8" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 9" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="my_box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 10" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 11" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                            <div class="box">
                                    <img src="../products/test.png" />
                                    <span class="user">AB</span>
                                    <div class="overlay">
                                            <div class="info">
                                                    <input type="hidden" class="title" value="Product 12" />
                                                    <input type="hidden" class="sku" value="11111" />
                                                    <input type="hidden" class="description" value="Lorem Ipsum" />
                                            </div>
                                    </div>
                            </div>
                    </div>
                    <div id="live_feed">
    <ul id="feed">

            <li><b>2:03</b> Username1 swapped with Username3!</li>
            <li><b>2:08</b> Username2 blocked Username5's attempt to swap!</li>
            <li><b>2:35</b> Username4 swapped with Username6!</li>
            <li><b>2:03</b> Username1 swapped with Username3!</li>
            <li><b>3:12</b> 3 minutes to go. Get swapping!</li>
            <li><b>2:03</b> Username1 swapped with Username3!</li>
            <li><b>2:08</b> Username2 blocked Username5's attempt to swap!</li>
            <li><b>2:35</b> Username4 swapped with Username6!</li>
            <li><b>2:03</b> Username1 swapped with Username3!</li>
            <li><b>3:12</b> 3 minutes to go. Get swapping!</li>
    </ul>
    </div>		
</div>


<div class="hills">
                <div id="rules">
<h4>How to Play</h4>
<ol>
        <li>There are three five-minute rounds.</li>
        <li>Want a different gift? <span>You get one swap per round.  Unused Swaps do not carry over.</span></li>
        <li>Want to keep your gift?  <span>You have one block to use anytime in the game.  Blocks will protect you from one swap attempt and expire at the end of the round, so block wisely!</span></li>
        <li>Blocked items will not be visible to other players as blocked.</li>
        <li>Want an extra swap? <span>Share the game with your friends on Facebook, and earn an extra swap to use in any round.</span></li>
        <li>You win whichever gif you have at the end of the game!*</li>
<i>* Prizes will be fulfilled with a 6pm.com e-certificate.</i>
</ol>
</div>
</div>
</div>





             <div class="blackout">
                
		<div class="litebox" id="initial_gift">
			<div id="initial_gift_photo">
				<img src="../products/test.png" width="200" />
			</div>
			<h2>This is your Gift!</h2>
			<h4>Brand Name - Item Name</h4>
			<ol>
				<h3>How to Play</h3>
				<li>There are three five-minute rounds.</li>
				<li>Want a different gift? <span>You get one swap per round.  Unused Swaps do not carry over.</span></li>
				<li>Want to keep your gift?  <span>You have one block to use anytime in the game.  Blocks will protect you from one swap attempt and expire at the end of the round, so block wisely!</span></li>
				<li>Blocked items will not be visible to other players as blocked.</li>
				<li>Want an extra swap? <span>Share the game with your friends on Facebook, and earn an extra swap to use in any round.</span></li>
				<li>You win whichever gif you have at the end of the game!*</li>
				<i>* Prizes will be fulfilled with a 6pm.com e-certificate.</i>
			</ol>
			<div class="rb_lg" id="init_gif_to_game">Start Playing</div>
		</div>
                
                    
		<div class="litebox" id="round_reminder">
			<div class="inner">
				<h3>It's time for round [number]!</h3>
				<p>That means you have another chance to swap.</p>
				<!-- only show this for round 2 & 3 -->
				<div class="rb_sm" id="round_ok">OK</div>
			</div>
		</div>
                
                
		<div class="litebox" id="block_ask">
			<div class="inner">
				<h3>Are you sure you<br/>want to block?</h3>
				<p>Remember, you only have<br/>one block per game.</p>
				<div class="rb_med" id="block_yes">Yes</div>
				<div class="rb_med" id="block_nevermind">Nevermind</div>
			</div>
		</div>

		<div class="litebox" id="block_confirm">
			<div class="inner">
				<h3>You blocked this item!</h3>
				<p>Your block will expire after somebody tries to swap with you, or at the end of this round.</p>
				<div class="rb_lg" id="block_to_game">Return to Game</div>
			</div>
		</div>
                    
		<div class="litebox" id="block_invalid">
			<div class="inner">
				<h3>Sorry!</h3>
				<p>You've already used your block for this game.<br/>Happy Swapping!</p>
				<div class="rb_lg" id="blockinvalid_to_game">Return to Game</div>
			</div>
		</div>

                    
		<div class="litebox" id="swap_ask">
			<div class="inner">
				<h3>Are you sure you<br/>want to swap?</h3>
				<p>You have [x] swaps left for this round.</p>
				<div class="rb_med" id="swap_yes">Yes</div>
				<div class="rb_med" id="swap_nevermind">Nevermind</div>
			</div>
		</div>
                    
		<div class="litebox" id="swap_confirm">
			<div class="inner">
				<h3>The swap was successful!</h3>
				<p>Good luck defending your stylish prize.</p>
				<div class="rb_lg" id="swap_to_game">Return to Game</div>
			</div>
		</div>
                    
		<div class="litebox" id="swap_invalid">
			<div class="inner">
				<h3>Oh no! [username] has<br/>blocked your swap.</h3>
				<p>Share the game to get another swap in this round, or try again next round.</p>
				<div class="rb_lg" id="swapinvalid_to_game">Return to Game</div>
			</div>
		</div>
                
		<div class="litebox" id="game_over">
			<div class="inner">
				<h3>Thank you for playing!</h3>
				<p>You've won the [item name]. What great style you have!  Click "claim" to give us your info and receive your prize.</p>
				<a href="claim_prize.html" class="rb_med" id="claim_prize">Claim</a>
			</div>
		</div>
                
		<div class="litebox" id="product_detail">
			<div class="inner">
				<div class="product_image"></div>
				<h3>Product Name</h3>
				<p>
                                  Product Description
				</p>
				<div class="rb_lg" id="return_to_game">Return to Game</div>
			</div>
		</div>

	</div>


     

    <div id="round_container">Round: <span id="round"><%=round%></span> </div>
    <div id="timergame" style="float:left"></div>
    <div style="clear:both"></div>
    

    <div style="margin-top:20px">
    &nbsp;
    </div>

   <div style="float:left;border:1px #efefef solid" >
        <%=prizes_content%>
   </div>

   <div style="float:left;width:10px">&nbsp;</div>

   <div style="float:left;border:1px red solid;width:200px;height:400px" id="messages">
        
   </div>

   <div style="clear:both"></div>


		  

  </div>  
</div>