<div id="main">
  <div class="page">


                 <div class="snow">
			<div id="logo">
				6pm.com - Social White Elephant
			</div>
			<div id="pregame">
				<div class="message">
					<h2>We're bring the gifts, and<br/>you can swap for your favorite!</h2>
					<p>
						Score an invite to the most styleish game<br/>on Facebook. <b>"Like" us for details!</b>
					</p>
				</div>
			</div>
			<div class="hills">
				<div id="ornaments">&nbsp;</div>
			</div>
		</div>    



  </div>  
</div>