<div id="main">
  <div class="page">


    <div class="snow">
		<div id="logo">
			6pm.com - Social White Elephant
		</div>
		<div id="pregame">
			<div class="message">
				<h2>We're bring the gifts, and<br/>you can swap for your favorite!</h2>
				<h3>December 18, 19, and 20, 6pm EST</h3>
				<p>
					Registration opens at 5:55pm and space is limited, so be sure to be on time! We'll even have extra goodies for the first [x] people who don't get a spot.
				</p>
				<div class="next_game">
					Next game starts in:
					<span class="countdown" id="timer">
						00:02:47
					</span>
				</div>
				<div class="social clearfix">
					<div id="fb_share"></div>
					<a href="#" id="tw_share"></a>
					<a href="#" id="pin_share"></a>
				</div>
			</div>
		</div>
		<div class="hills">
			<div id="ornaments">Thank You</div>
		</div>
	</div>
  </div>  
</div>
