<?xml version="1.0"?>
<config>
    <modules>
        <store_shopslideshow>
            <version>1.4.0</version>
        </store_shopslideshow>
    </modules>
    <admin>
        <routers>
			<shopslideshow>
				<use>admin</use>
				<args>
					<module>store_shopslideshow</module>
					<frontName>shopslideshow</frontName>
				</args>
			</shopslideshow>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<elitegroup translate="title" module="shopslideshow">
				<title>Elite Group</title>
				<sort_order>9999</sort_order>
				<children>
                    <settings translate="title" module="shopslideshow">
                        <title>Settings</title>
                        <sort_order>10</sort_order>
                        <children>
                            <shopslideshow translate="title" module="shopslideshow">
                                <title>Rotator</title>
                                <sort_order>120</sort_order>
                                <children>
                                    <items translate="title" module="shopslideshow">
                                        <title>Flexslider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>shopslideshow/adminhtml_shopslideshow</action>
                                    </items>
                                    <revolution_items translate="title" module="shopslideshow">
                                        <title>Revolution slider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>shopslideshow/adminhtml_shoprevolution</action>
                                    </revolution_items>
                                    <configuration>
                                        <title>Configuration</title>
                                        <sort_order>1</sort_order>
                                        <action>adminhtml/system_config/edit/section/shopslideshow</action>
                                    </configuration>
                                </children>
                            </shopslideshow>
                        </children>
                    </settings>
				</children>
			</elitegroup>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shopslideshow>
                                            <title>Rotator Setting</title>
                                        </shopslideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <elitegroup>
                            <title>Elite Group</title>
                            <children>
                                <settings>
                                    <title>Settings</title>
                                    <children>
                                        <shopslideshow>
                                            <title>Slideshow</title>
                                            <children>
                                                <items>
                                                    <title>Flexslider Slides</title>
                                                </items>
                                                <revolution_items>
                                                    <title>Revolution slider Slides</title>
                                                </revolution_items>
                                                <configuration>
                                                    <title>Configuration</title>
                                                </configuration>
                                            </children>
                                        </shopslideshow>
                                    </children>
                                </settings>
                            </children>
                        </elitegroup>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <shopslideshow>
                <class>store_shopslideshow_Model</class>
                <resourceModel>shopslideshow_mysql4</resourceModel>
            </shopslideshow>
            <shopslideshow_mysql4>
                <class>store_shopslideshow_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>shop_slides</table>
                    </slides>
	                <slides_store>
                        <table>shop_slides_store</table>
                    </slides_store>
                    <revolution_slides>
                        <table>shop_revolution_slides</table>
                    </revolution_slides>
	                <revolution_slides_store>
                        <table>shop_revolution_slides_store</table>
                    </revolution_slides_store>
                </entities>
            </shopslideshow_mysql4>
        </models>
        <resources>
            <shopslideshow_setup>
                <setup>
                    <module>store_shopslideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shopslideshow_setup>
            <shopslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shopslideshow_write>
            <shopslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shopslideshow_read>
        </resources>
        <blocks>
            <shopslideshow>
                <class>store_shopslideshow_Block</class>
            </shopslideshow>
        </blocks>
        <helpers>
            <shopslideshow>
                <class>store_shopslideshow_Helper</class>
            </shopslideshow>
        </helpers>
    </global>
	<default>
		<shopslideshow>
			<config>
                <enabled>1</enabled>
                <show>home</show>
                <slider>flexslider</slider>
			</config>
            <flexslider>
                <height></height>
                <animation>slide</animation>
                <slideshow>true</slideshow>
                <animation_loop>true</animation_loop>
                <mousewheel>false</mousewheel>
                <smoothheight>false</smoothheight>
                <slideshow_speed>7000</slideshow_speed>
                <animation_speed>400</animation_speed>
                <control_nav>false</control_nav>
                <direction_nav>true</direction_nav>
                <timeline>true</timeline>
            </flexslider>
            <revolutionslider>
                <delay>9000</delay>
                <startheight>460</startheight>
                <startwidth>1170</startwidth>
                <hideThumbs>200</hideThumbs>
                <navigationType>bullet</navigationType>
                <navigationArrows>verticalcentered</navigationArrows>
                <navigationStyle>round</navigationStyle>
                <touchenabled>on</touchenabled>
                <shuffle>off</shuffle>
                <navOffsetHorizontal>0</navOffsetHorizontal>
                <navOffsetVertical>-14</navOffsetVertical>
                <onHoverStop>on</onHoverStop>
                <thumbWidth>100</thumbWidth>
                <thumbHeight>50</thumbHeight>
                <thumbAmount>5</thumbAmount>
                <hideCaptionAtLimit></hideCaptionAtLimit>
                <hideAllCaptionAtLilmit></hideAllCaptionAtLilmit>
                <hideSliderAtLimit></hideSliderAtLimit>
                <stopAtSlide>-1</stopAtSlide>
                <stopAfterLoops>-1</stopAfterLoops>
                <timeline>1</timeline>
                <timeline_position>top</timeline_position>
            </revolutionslider>
		</shopslideshow>
	</default>
</config>