@{
    ViewBag.Title = "TweetCallback";
    Layout = "~/Views/Shared/_Sitemaster.cshtml";
}



<div class="content" style="overflow: hidden">
    <div class="clr">&nbsp; </div>

    <div class="midslider3">


        <div class="divblock" style="text-align: center">
            <h2>Authorization Granted</h2>
            <p>
                Your Twitter account has been configured to connect to this application! You can now post tweets from
        this website.
            </p>
            <p>
                <a href="@Url.Content("~/PetUser/User/TwitterHome")">Share your tweet!</a>
            </p>
        </div>

    </div>
</div>
